body{
    background-color: beige;
}

header, footer, section{
    background-color: white;
    margin: 20px;
    padding: 10px;
}

header{
    text-align: right;
}

footer, section{
    text-align: center;
}

section{
    padding: 50px 100px;

}
article{
    margin: 30px 0;
}
ul{
    list-style-type: none;
    display: block;
    padding: 0 15px;
}
li{
    display: inline-block;
}

button{
    border: none;

    background-color: lightseagreen;
    color: white;
    box-shadow: 3px 3px 5px -3px gray;
    cursor: pointer;

    width: 100px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
}

button:hover{
    color: lightseagreen;
    background-color: white;
    border: 2px solid lightseagreen;
}

section button{
    height: 100px;
}

hr{
    border-color: lightgray;
    border-width: 0.5px;
}
.photo-text{
    vertical-align: baseline;
    padding-left: 40px;
}

.map{
    width: 600px;
    height: auto;
}
.photo{
    width: 200px;
    height: auto;
    border: 10px solid darkseagreen;
}