<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Self-introduction</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header include-html="/include/header.html"></header>

<section style="text-align: left;">
    <h1>이지안</h1>
    <ul style="display: grid;">
        <li>이화여자대학교 철학과 재학</li>
        <li>209rrsz@gmail.com</li>
        <li><a href="http://github.com/s2zan">http://github.com/s2zan</a></li>
    </ul>
    <br>
    파이썬과 장고를 좋아하지만 이 페이지는 스프링으로 개발했어요<br>
    백엔드 개발자가 되고싶어요
</section>

<footer include-html="/include/footer.html"></footer>

</body>
<script type="text/javascript" src="/js/include.js"></script>
<script>
    includeHTML();
</script>
</html>