<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Self-introduction</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header include-html="/include/header.html"></header>

<section>
    <article>
        <table>
            <tr>
                <td>
                    <img class="photo" src="/image/dolphin.png" />
                </td>
                <td class="photo-text">
                    <h3>돌고래 그림</h3>
                    제가 그린 돌고래 그림입니다ㅎㅎ
                </td>
            </tr>
        </table>
    </article>
    <hr>
    <article>
        <table>
            <tr>
                <td>
                    <img class="photo" src="/image/family.png" />
                </td>
                <td class="photo-text">
                    <h3>가족 사진</h3>
                    같이 사는 가족들과 찍었어요
                </td>
            </tr>
        </table>
    </article>
</section>

<footer include-html="/include/footer.html"></footer>

</body>
<script type="text/javascript" src="/js/include.js"></script>
<script>
    includeHTML();
</script>
</html>